.main_index {
    @include main;

    &__h2 {
        font-size: 1.5em;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__div {
        margin: 10px 0 10px 0;
    }

    &__label {
        @include label (block);
    }

    &__select {
        @include label (block);
        cursor: pointer;
    }

    &__p {
        margin: 10px 0 5px 0;
    }

    &__btn {
        margin: auto;
    }
}